/* tailwind css */

@tailwind base;

@tailwind components;

@tailwind utilities;

@layer components {
    body{
        @apply text-sm text-bodytext dark:text-darklink
    }
    .container{
        @apply max-w-[1200px];
    }
    .container-xl{
        @apply max-w-[1320px];
    }
    .card {
        @apply rounded-md dark:shadow-dark-md shadow-md bg-white dark:bg-dark relative w-full break-words; 
    }
    .card-title{
        @apply text-lg font-semibold text-dark dark:text-white
    }
    .card-subtitle{
        @apply text-sm text-bodytext dark:text-darklink
    }
    html[data-card='border'] .card {
        @apply border border-border dark:border dark:border-darkborder shadow-none;
    }  
    .card-body {
        @apply p-[30px];
    }
    .hs-dropdown-menu{
        @apply shadow-md bg-white dark:bg-dark relative rounded-md dark:shadow-dark-md;  
    }
    .form-control{
        @apply rounded-md border border-bordergray dark:border-darkborder bg-transparent w-full  text-sm py-2 px-3 ;
    }
    input::placeholder{ 
        @apply text-bodytext dark:text-darklink
    }

    /* For Checkbox */
    .form-check-input[type=checkbox]{
        @apply border border-bordergray h-5 w-5  dark:border-darkborder focus:ring-0 focus:ring-offset-0 checked:border-primary  bg-transparent;
    }
    .form-check-input[type=checkbox]:checked{
        @apply bg-primary;
    }
    /* For Radio */
    .form-check-input[type=radio]{
        @apply border border-bordergray dark:border-darkborder focus:ring-0 focus:ring-offset-0 checked:border-primary  bg-transparent;
    }
    .form-check-input[type=radio]:checked{
        @apply bg-primary;
    }

    .btn{
        @apply rounded-md bg-primary hover:bg-primaryemphasis text-white text-sm py-2 px-4 text-center capitalize font-medium ;
    }
    .btn-secondary{
        @apply rounded-md bg-secondary hover:bg-secondaryemphasis text-white text-sm py-2 px-4 text-center capitalize font-medium ;
    }
    .btn-md{
        @apply rounded-md text-white text-sm py-2 px-4 ;
    }
    .btn-outline{
        @apply rounded-md bg-transparent border text-sm py-2 px-3 text-center hover:text-white dark:hover:text-white hover:bg-primary font-medium;
    }
    .btn-outline-primary{
        @apply rounded-md border border-primary text-primary text-sm py-2 px-3 text-center bg-transparent hover:bg-primary  hover:text-white dark:hover:text-white ;
    }
    .btn-error{
        @apply bg-error text-white hover:bg-erroremphasis
    }

    .btn-light-primary{
        @apply w-full bg-lightprimary text-primary hover:bg-primaryemphasis hover:text-white dark:bg-darkprimary hover:dark:bg-primary hover:dark:text-white
    }
    .btn-light-error{
        @apply bg-lighterror text-error hover:text-white hover:bg-error dark:bg-darkerror dark:hover:bg-error  dark:hover:text-white dark:text-error
    }
    .btn-light-warning{
        @apply bg-lightwarning text-warning hover:text-white hover:bg-warning dark:bg-darkwarning dark:hover:bg-warning  dark:hover:text-white dark:text-warning
    }
    .btn-light-success{
        @apply bg-lightsuccess text-success hover:text-white hover:bg-success dark:bg-darksuccess dark:hover:bg-success  dark:hover:text-white dark:text-success
    }
    .btn-light-info{
        @apply bg-lightinfo text-info hover:text-white hover:bg-info dark:bg-darkinfo dark:hover:bg-info  dark:hover:text-white dark:text-info
    }
    .btn-light-secondary{
        @apply bg-lightsecondary text-secondary hover:text-white hover:bg-secondary dark:bg-darksecondary dark:hover:bg-secondary  dark:hover:text-white dark:text-secondary
    }
    select{
        @apply rounded-md border border-border dark:border-darkborder bg-white dark:bg-dark text-link dark:text-darklink text-sm;  
    }

    /*Badge css*/
    .badge-md{
        @apply rounded-md text-sm px-3 py-1 font-semibold text-primary
    }
    
    /* Sidebar css */
    .sidebar-link{
        @apply text-link rounded-md w-full flex items-center text-sm hover:bg-lightprimary hover:text-primary
    }
    .dark-sidebar-link{
        @apply dark:text-darklink hover:dark:bg-darkprimary
    }
    .activemenu {
        @apply bg-primary text-white hover:bg-primary hover:text-white dark:hover:bg-primary dark:hover:text-white
    }
    .dropdown-menu-link{
        @apply  text-link dark:text-darklink  w-full flex cursor-pointer  items-center text-sm hover:bg-lightprimary hover:dark:bg-darkprimary hover:text-primary
    }
    .dropdown-menu-active{
        @apply bg-primary dark:bg-primary text-white hover:bg-primary hover:text-white dark:hover:bg-primary dark:hover:text-white
    }
    .dropdown-submenu-link{
        @apply w-full py-2 flex gap-2 items-center text-sm text-link dark:text-darklink hover:text-primary dark:hover:text-primary
    }
    #sidebarnav .hs-accordion-content{
        @apply w-full overflow-hidden transition-[height] duration-300 hidden
    }
    .caption{
        @apply text-xs text-link dark:text-darklink font-bold pb-4 uppercase
    }
    .horizontal-menu{
        @apply text-sm text-link dark:text-darklink hover:text-primary hover:bg-lightprimary rounded-md flex items-center py-1 px-3 gap-2
    }
    .horizontal-items{
        @apply z-10 sm:mt-4 top-full start-0 min-w-64   lg:bg-white bg-transparent dark:bg-dark lg:shadow-md shadow-none 
    }
    .horizontal-link{
        @apply flex items-center dark:hover:text-primary gap-2 py-2 px-3 rounded-lg text-sm text-link dark:text-darklink hover:text-primary 
    }
    .horizontal-link-active{
        @apply text-primary hover:text-primary dark:text-primary
    }
    .nav-small-cap-icon{
        @apply text-lg hidden text-center leading-[16px]
    }

    /* Top header menu css */
    .apps-icons{
        @apply bg-lightgray dark:bg-darkgray  h-11 w-11 flex justify-center items-center rounded-md
    }
    .header-link-btn{
        @apply lg:w-auto w-full gap-2 lg:text-sm text-link dark:text-darklink hover:text-primary hover:bg-lightprimary dark:hover:bg-darkprimary lg:py-1 lg:px-3 py-2 px-3 rounded-md flex items-center
    } 

    /* Other css*/
    .bg-overlay{
        @apply absolute top-0 bottom-0 left-0 h-full w-full bg-lightprimary  mix-blend-multiply invisible group-hover:visible
    }
    .preview-btn{
        @apply btn text-xs  absolute  left-0 right-0 flex justify-center items-center w-fit mx-auto invisible group-hover:visible z-[1]
    }
    .border-light-dark{
        @apply border-border dark:border-darkborder
    }
    .light-dark-hoverbg{
        @apply hover:bg-lightgray dark:hover:bg-darkprimary
    }
    .tooltip{
        @apply rounded-md absolute invisible z-10 text-fs_12 py-1 px-2 bg-dark dark:bg-darkgray  text-white dark:text-gray-300  opacity-0 
    }

    /*heading text color*/
    h1,h2,h3,h4,h5,h6 {
        @apply text-dark dark:text-white font-semibold;
    }

    .animate-card{
        @apply transition-all relative transform translate-y-0 hover:-translate-y-1.5 duration-300 ease-in-out
    }

     /*Datatable*/
     .datatable .dt-search{
        @apply flex items-center gap-1 sm:mt-0 mt-3
    }

}

