 .DEFAULT_THEME{
    --color-info:#539BFF;
    --color-success:#13DEB9;
    --color-warning:#FFAE1F;
    --color-error:#FA896B;
    --color-lightsuccess:#E6FFFA;
    --color-lighterror:#FDEDE8;
    --color-lightinfo:#EBF3FE;
    --color-lightwarning:#FEF5E5;
    --color-darkinfo:#223662;
    --color-darksuccess:#1B3C48;
    --color-darkwarning:#4D3A2A;
    --color-darkerror:#4B313D;
    --color-white:#fff ;
	--color-dark:#202936;
    --color-border:#ebf1f6;
    --color-bordergray:#dfe5ef;
    --color-darkborder:#333F55;
    --color-link:#2a3547;
    --color-bodytext:#5a6a85;
    --color-darklink:#7c8fac;
    --color-lightgray:#F6F9FC;
    --color-darkgray:#465670;
    --color-error-emphasis:#d5745b;
    --color-warning-emphasis:#d9941a;
    --color-success-emphasis:#10bd9d;
}

[data-color-theme="Blue_Theme"]:root{
    --color-primary: #5D87FF;
    --color-primary-emphasis:#4f73d9;   
    --color-secondary: #49BEFF;
    --color-secondary-emphasis:#3ea2d9;
    --color-lightprimary:#5D87FF20;
    --color-lightsecondary:#49BEFF20;
    --color-darkprimary:#26334A;
    --color-darksecondary:#24384A;

}
[data-color-theme="Aqua_Theme"]:root{
    --color-primary: #0074BA;
    --color-bghover:#00639e ; 
    --color-primary-emphasis:#00639e;   
    --color-secondary-emphasis:#3cb7a0;
    --color-secondary: #47D7BC;
    --color-lightprimary:#0074BA20;
    --color-lightsecondary:#00639e20;
    --color-darkprimary:#1D3143;
    --color-darksecondary:#243B43; 
}
[data-color-theme="Purple_Theme"]:root{
    --color-primary: #763EBD;
    --color-primary-emphasis:#6435a1;   
    --color-secondary-emphasis:#7fb0b5;
    --color-secondary: #49BEFF;
    --color-lightprimary:#763EBD20;
    --color-lightsecondary:#49BEFF20;
    --color-darkprimary:#292B43;
    --color-darksecondary:#2C3A46; 
}
[data-color-theme="Green_Theme"]:root{
    --color-primary: #0A7EA4;
    --color-primary-emphasis:#096b8b;   
    --color-secondary-emphasis:#d4e069;
    --color-secondary: #CCDA4E;
    --color-lightprimary:#0A7EA420;
    --color-lightsecondary:#CCDA4E20;
    --color-darkprimary:#1E3241;
    --color-darksecondary:#323B38; 
    
}
[data-color-theme="Cyan_Theme"]:root{
    --color-primary: #01C0C8;
    --color-primary-emphasis:#01a3aa;   
    --color-secondary-emphasis:#d58066;
    --color-secondary: #FB9678;
    --color-lightprimary:#01C0C820;
    --color-lightsecondary:#FB967820;
    --color-darkprimary:#1D3944;
    --color-darksecondary:#37343C; 
}
[data-color-theme="Orange_Theme"]:root{
    --color-primary: #FA896B;
    --color-primary-emphasis:#d5745b;   
    --color-secondary-emphasis:#00639e;
    --color-secondary: #0074BA;
    --color-lightprimary:#FA896B20;
    --color-lightsecondary:#0074BA20;
    --color-darkprimary:#36333B;
    --color-darksecondary:#1D3143; 
}


