
.landingpage .top-header.shadow-sm{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 9px 17.5px;
}

.hero-section .hero-img-slide {
    min-width: 2000px;
    height: 800px;
}

.hero-section .hero-img-slide .banner-img-1 {
    height: 790px;
    animation: 35s linear 0s infinite normal none running slideup;
}

.hero-section .hero-img-slide .banner-img-2 {
    height: 790px;
    animation: 35s linear 0s infinite normal none running slideDown;
}

@keyframes slideup {
    0% {
        transform: translate3d(0px, 0px, 0px);
    }

    100% {
        transform: translate3d(0px, -100%, 0px);
    }
}

@keyframes slideDown {
    0% {
        transform: translate3d(0px, -100%, 0px);
    }

    100% {
        transform: translate3d(0px, 0px, 0px);
    }
}

@keyframes slide {
    0% {
        transform: translate3d(0px, 0px, 0px);
    }

    100% {
        transform: translate3d(-100%, 0px, 0px);
    }
}

.sliding-wrapper .slide-background .slide {
    animation: 45s linear 0s infinite normal none running slide;
}

.review-slider .owl-carousel .owl-stage-outer {
    padding-bottom: 20px;
}

.review-slider .owl-carousel .owl-stage-outer .owl-stage .owl-item {
    padding: 15px;
}

.review-slider .owl-carousel .owl-dots {
    text-align: center;
    bottom: 0;
    position: relative;
}

.review-slider .owl-carousel .owl-dots .owl-dot {
    background-color: var(--color-bodytext);
    border-radius: 50%;
    height: 9px;
    width: 9px;
    opacity: 0.25;
    margin: 0 5px;
}

.review-slider .owl-carousel .owl-dots .owl-dot.active {
    opacity: 0.75;
}

.review-slider .owl-carousel .owl-dots .owl-dot:hover {
    background-color: var(--color-bodytext);
    opacity: 0.75;
}
.h-n80 {
    height: calc(100vh - 80px);
}